@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    <h3>Development Mode</h3>
    <p>
        Please, log in before bying goods.
    </p>
</div>
